extend ../jade-partials/layout.jade

mixin link(url, name)
    li.nav-item
        a.nav-link(href='#{ url }') Mixin#{ name }

block content
    ul
        each item in menu.list
            +link(item.url, item.name)
            //- li  
            //-     a(href="#{item.url}") #{item.name}
    h1 
        span Content
        | Another content
    ul
        li
            a(href="#") link
        li
            a(href="#") link
        li
            a(href="#") link
    h1: a(href="#"): span 連結

    hr
    .container
        form(action="")
            label(for="email") 請輸入 Email
            input#email.form-control.input-sm(type="text")   
