<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title PugTest Watch
        link(rel="stylesheet", href="css/test.css")
        script(src="js/gulptest1.js")
        script(src="js/gulptest2.js")
    body
        br
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla sunt, ut rerum excepturi nihil odit nemo? Officia perferendis laboriosam dolor veniam labore natus ipsa saepe eaque rerum? Sequi, modi magni. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, similique. Dignissimos et eius reiciendis, impedit excepturi adipisci iure velit facere, nulla fugit nesciunt natus id ipsum autem asperiores voluptatum tempore!